<div class="video-games-wrapper">
  <div class="game-filters">
    <p class="header">Filter Results</p>

    <form [formGroup]="filterForm">
      <div class="field-control name">
        <div class="field-description">
          <p>Name (contains)</p>
        </div>
        <input formControlName="gameName" placeholder="Type game name here"/>
      </div>

      <div class="field-control">
        <div class="field-description">
          <p>Minimum Score</p>
        </div>
        <input onlyNumber formControlName="gameRating" placeholder="1 - 100"/>
      </div>

      <div class="field-control order">
        <div class="field-description">
          <p>Order By</p>
        </div>

        <div class="order-filter">
          <button (click)="changeOrderIcon()" class="button">
            <mat-icon *ngIf="!orderIcon">arrow_downward</mat-icon>
            <mat-icon *ngIf="orderIcon">arrow_upward</mat-icon>
          </button>

          <select formControlName="orderName">
            <option>Select option</option>
            <option *ngFor="let option of orderByOptions">
              {{ option }}
            </option>
          </select>
        </div>
      </div>

      <button (click)="resetFilters()" class="button clear">Clear</button>
    </form>
  </div>

  <div *ngIf="filteredGames$ | async as games; else loading" class="games">
    <div *ngIf="games.length; else emptyResult">
      <ng-container *ngFor="let game of games">
        <div class="game">
          <div class="game-logo"></div>

          <div class="game-description">
            <div class="name">
              {{ game.name }}
            </div>

            <div class="release-date">
              Release Date: {{ game.first_release_date | date: "MM/dd/yyyy" }}
            </div>

            <div class="description">
              {{ game.summary }}
            </div>
          </div>

          <div class="game-rating">
            <div class="badge">
              {{ game.rating | number: "1.0-0" }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #emptyResult>
      There are no result. Try change filter options
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
