.video-games-wrapper {
  width: 89%;
  margin: 0 auto;
}

.game {
  height: 130px;
  background: #0e1a2b;
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

  &-description {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .name {
      font-size: 18px;
    }

    .release-date {
      opacity: 0.5;
    }

    .description {
      opacity: 0.5;
      padding: 10px 0;
      height: 20px;
      overflow: hidden;
      line-height: 15px;
    }
  }

  &-logo {
    width: 115px;
    height: 130px;
    background: #000000;
  }

  &-rating {
    margin-left: auto;
    display: flex;

    .badge {
      font-weight: bold;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      background: #5692e8;
      justify-content: center;
      margin: auto 15px auto auto;
    }
  }
}

.video-games-wrapper {
  display: flex;
  gap: 70px;
  height: 100%;

  .game-filters {
    background: #0e1a2b;

    width: 18%;
    height: 350px;
    padding: 20px;

    .header {
      font-size: 18px;
    }

    .field-control {
      .order-filter {
        display: flex;
      }
    }

    form {
      margin-top: 40px;
      gap: 30px 35px;
      display: flex;
      flex-direction: column;

      button {
        &.clear {
          width: 80px;
          margin-left: auto;
          height: 30px;
        }
      }
    }
  }

  .games {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
  }

  .loading {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .video-games-wrapper {
    flex-direction: column;

    .game-filters,
    .games {
      width: 100%;
      height: auto;
    }

    .game-filters {
      padding: 0;

      .header {
        margin: 20px;
      }

      form {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 20px;
        align-items: end;

        .field-control {
          &.name {
            grid-column: 1/7;
          }

          &.order {
            grid-column: 2/6;
          }
        }

        button {
          width: auto;

          &.clear {
            width: 100%;
            margin-left: auto;
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .video-games-wrapper {
    gap: 10px;
  }

  .video-games-wrapper .game-filters form {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .game {
    display: flex;
    flex-direction: column;
    height: auto;

    &-logo {
      width: 100%;
      height: 100px;
      background: #000000;
    }

    .game-rating {
      margin-left: auto;
      display: flex;
      order: -1;
      position: relative;
      top: 10px;
      height: 0;
    }
  }
}
